<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%d %-5p: %c - %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="de.jaenner.naw" level="debug" />
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core"    level="debug" />
	<logger name="org.springframework.beans"   level="debug" />
	<logger name="org.springframework.context" level="debug" />
	<logger name="org.springframework.web"     level="debug" />

	<!-- Root Logger -->
	<root level="warn">
		<appender-ref ref="console" />
	</root>
	
</configuration>